//.box {
//  width: 120px;
//  height: 80px;
//  background: #4f46e5;
//  color: white;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  border-radius: 8px;
//  cursor: grab;
//  user-select: none;
//  transition: background 0.15s ease;
//
//  .selected {
//    background: #007bff;
//  }
//
//  .overlapped {
//    background: #dc2626;
//  }
//}



.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  .children-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 8px;
  //position: absolute;
  //top: 0;
  //left: 0;
}
