.tree-container {
  width: 100%;
  height: 100%;
  background-color: yellow;
  position: relative;

  .tree-node {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 40px;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 120px;
    }

    &:nth-child(3) {
      left: 240px;
    }

    &:nth-child(4) {
      left: 360px;
    }

    &:nth-child(5) {
      left: 480px;
    }
  }
}




:host {
  display: block;
  height: 100vh;
}


.toolbar {
  padding: 10px;
  background: #f0f0f0;
}

app-box {
  position: absolute;

  &:not(.overlap) {
    z-index: 1;
  }
}
