.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, 300px) 1fr;
  background-color: cyan;

  .tree-container {
    background-color: lightpink;
    position: relative;
  }

  .content-container {
    background-color: lightblue;
  }
}
