.node-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  .children-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 8px;
  //position: absolute;
  //top: 0;
  //left: 0;
}
