:host {
  position: absolute;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cccccc;
  border-radius: 4px;
  border: 1px solid #000000;
  padding: 8px;

  &.overlapped {
    background-color: red;
  }
}
